<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5"  id="contact" >
  <div class="w3-row">
    <div class="w3-col m5">
    
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" >
      <div class="w3-section">      
        
      <div class="w3-section">      
        <label for="inputemail"> Email</label>
        <input class="w3-input" type="text"  name="Message" id="inputemail" required >
      </div> 
      <div class="w3-section">      
          <label for="inputpasword">Mot passe</label>
          <input class="w3-input" type="password" name="Message"  id="inputpasword" required >
        </div>  
      <label>Mot de passe</label>
      </div> 
<br>
      <button type="submit" class="w3-button w3-right w3-theme">Se connecter</button>
     <a routerLink ="s_inscrire">Creer un compte</a>

     <!--  <button type="submit" class="w3-button w3-right w3-theme">Annuler</button> -->
      </form>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>